<div class="tier-edit-wrapper">
  <div class="unassigned-column">
    <h3>未割り当ての家事</h3>
    <div class="tier-drop-zone" data-tier-id="">
      <% @unassigned_chores.each do |chore| %>
        <div class="chore-card" draggable="true" data-chore-id="<%= chore.id %>">
          <%= chore.title %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tiers-vertical">
    <% @tiers.each do |tier| %>
      <div class="tier-box">
        <div class="tier-drop-zone" data-tier-id="<%= tier.id %>">
          <% @tier_list.chores.where(tier_id: tier.id).each do |chore| %>
            <div class="chore-card" draggable="true" data-chore-id="<%= chore.id %>">
              <%= chore.title %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
