<%# app/views/dashboards/index.html.erb %>

<div class="dashboard-container">

  <%= render "dashboards/header", user: current_user %>

  <div class="dashboard-grid">
    <div class="dashboard-left">
      <%= render "dashboards/stats_summary", chores: @user_chores %>
      <%= render "dashboards/user_stats", data: @user_stats %>
      <%= render "dashboards/recent_logs", logs: @recent_logs %>
    </div>

    <div class="dashboard-center">
      <%= render "dashboards/calendar", calendar_data: @calendar_data %>
    </div>

    <div class="dashboard-right">
      <%= render "dashboards/tier_list", tier_items: @tier_items %>
      <%= render "dashboards/tier_progress", tier_progress: @tier_progress %>
    </div>
  </div>

  <div class="dashboard-bottom-actions">
    <%= link_to "+ 家事を追加", new_chore_path, class: "floating-add-button" %>
    <%= link_to "未完了家事一覧へ", chores_path(status: "incomplete"), class: "link-to-incomplete" %>
  </div>

</div>
