<div class="chore-form-container">
  <h2 class="form-title">家事の新規登録</h2>

  <% if @chore.errors.any? %>
    <div class="form-errors">
      <h4>以下のエラーがあります：</h4>
      <ul>
        <% @chore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @chore, local: true) do |f| %>
    <!-- 🆕 ティアリスト選択 -->
    <div class="tier-list-select-group">
      <%= label_tag :tier_list_id, "ティアリスト" %>
      <%= select_tag :tier_list_id,
          options_from_collection_for_select(current_user.created_tier_lists, :id, :name),
          prompt: "選択してください",
          class: "tier-list-select" %>
    </div>
    <div class="form-group">
      <%= f.label :title, "家事タイトル" %>
      <%= f.text_field :title, class: "input-title" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "詳細説明" %>
      <%= f.text_area :description, rows: 4, class: "input-description" %>
    </div>

    <div class="form-flex-group">
      <div class="form-half">
        <%= f.label :assigned_to_id, "担当者" %>
        <%= f.collection_select :assigned_to_id, User.all, :id, :name, prompt: "選択してください", class: "input-select" %>
      </div>

      <div class="form-half">
        <%= f.label :tier_id, "ティア" %>
        <%= f.collection_select :tier_id, Tier.all, :id, :label, prompt: "選択してください", class: "input-select" %>
      </div>
    </div>

    <div class="form-button-group">
      <%= f.submit "登録する", class: "btn-submit" %>
      <%= link_to "キャンセル", root_path, class: "btn-cancel" %>
    </div>
  <% end %>
</div>
