<aside class="app-sidebar">
  <nav>
    <ul>
      <li><%= link_to "ðŸ“Š ãƒ€ãƒƒã‚·ãƒ¥ãƒœãƒ¼ãƒ‰", dashboards_path %></li>
      <li><%= link_to "ðŸ“‹ å®¶äº‹ä¸€è¦§", "#" %></li>
      <li><%= link_to "âž• å®¶äº‹ã‚’è¿½åŠ ", new_chore_path %></li>
       <li>
        <% if @selected_tier_list.present? %>
         <%= link_to "ðŸ—‚ï¸ ãƒ†ã‚£ã‚¢ãƒªã‚¹ãƒˆç·¨é›†", edit_tiers_tier_list_path(@selected_tier_list) %>
        <% else %>
          <%= button_to "ðŸ—‚ï¸ ãƒ†ã‚£ã‚¢ãƒªã‚¹ãƒˆç·¨é›†", ensure_editable_tier_list_tier_lists_path, method: :post, class: "tierlist-fallback-link" %>
        <% end %>
      </li>
      <li><%= link_to "ðŸ“– å®Œäº†å±¥æ­´", "#" %></li>
      <li><%= link_to "ðŸ‘¥ ãƒ¡ãƒ³ãƒãƒ¼ç®¡ç†", "#" %></li>
    </ul>
  </nav>
</aside>
