<!DOCTYPE html>
<html>
  <head>
    <title>ChoreTiersApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#F5F5DC] h-screen font-sans flex items-center justify-center">
    <main class="w-[700px] max-w-full px-12 py-16 bg-white border-2 border-[#D2B48C] rounded-lg shadow-xl">
      <%= yield %>
    </main>
  </body>
</html>
